possible non-compliant KEY RR flags field used for example in Appendix C

[Highlighted on the mailing list](https://mailarchive.ietf.org/arch/msg/dnssd/tGLWlkxs-6-IWQv6P8h3cMMGOgE/), [RFC3445 section 4](https://www.rfc-editor.org/rfc/rfc3445.html#section-4) states that most of the 'flags' field for the KEY RR should be zero (the documents that obsolete RFC3445 apply to non-`SIG(0)`).

The example in Appendix C does not adhere to this (flags is `513`):
```
demo               KEY 513 3 13 (
                           qweEmaaq0FAWok5//ftuQtZgiZoiFSUsm0srWREdywQU
                           9dpvtOhrdKWUuPT3uEFF5TZU6B4q1z1I662GdaUwqg==
                        ); alg = ECDSAP256SHA256 ; key id = 15008
```

It would be [helpful to provide advice on what `flags` value to use](https://mailarchive.ietf.org/arch/msg/dnssd/RXUiWIRiz71pRmtyeTw3_VEBFcY/), the only implementations I am aware of to glean hints from also look to be non-RFC3445 compliant:

 * [`mdnsresponder`](https://github.com/Abhayakara/mdnsresponder/blob/d7779d704ef6e4724d0d0fd4a11a91ff9caa4004/ServiceRegistration/towire.c#L410)
 * [`openthread`](https://github.com/openthread/openthread/blob/41526d5de27d451179276dff082eeb138e839445/src/core/net/srp_client.cpp#L1372-L1373)

My reading of both [RFC2535 section 3.1.2](https://www.rfc-editor.org/rfc/rfc2535#section-3.1.2) and [RFC3445 section 4](https://www.rfc-editor.org/rfc/rfc3445.html#section-4), I think the `flags` field should now be simply zero (`0`), someone needs to check my homework though...

The original KEY RR flags:
```
   0   1   2   3   4   5   6   7   8   9   0   1   2   3   4   5
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
   |  A/C  | Z | XT| Z | Z | NAMTYP| Z | Z | Z | Z |      SIG      |
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
```

The new KEY RR flags:
```
   0   1   2   3   4   5   6   7   8   9   0   1   2   3   4   5
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
   | Z | Z | Z | Z | Z | Z | Z | N | Z | Z | Z | Z | Z | Z | Z | Z |
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
```

Where the 'zone bit' (`N`, bit 7) is for this use case (`SIG(0)`) is zero (`0`).

The 'key id' comment also needs amending https://mailarchive.ietf.org/arch/msg/dnssd/QbqZgyyGr_JRw-TeNrIRyQN8uRA/

15008 -> 14495

Fixed in commit 4a08829324c59cd8a5ed889c73782faa426f80de